.footer{
    padding: 1%;
    height: 10vh;
    background-color: black;
    align-content: center;
    position: relative;


}

.contact{
    word-spacing: 3em;
    color: #00bf0b;
}

.soho{
   color: gray;
   b{
       color: white;
   }
}
.social{
    span{
        padding: 10px;
    }
    .facebook{

        color: #3D4DA5;
    }
    .twitter{
        color: #0AC3EC;

    }
    .linkedin{
        color: #4A90E1;
    }
    .youtube{
        color: #EB6F6F;
    }

}