@font-face {
  font-family:Graphik;
  src: url(./assets/font/Graphik-Extralight.otf);
}
body {
  margin: 0;
  font-family: Graphik;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, Graphik;
}
